<header>
	<pre class="ascii logo">                                                 
	</pre>
	<pre class="ascii name">
.___    ._______  ._____________._._______ .______  .______  .______  .___ ._______.______  
|   |   : .___  \ |    ___/\__ _:|:_.  ___\:      \ : __   \ : __   \ : __|: .____/: __   \ 
|   |   | :   |  ||___    \  |  :||  : |/\ |   .   ||  \____||  \____|| : || : _/\ |  \____|
|   |/\ |     :  ||       /  |   ||    /  \|   :   ||   :  \ |   :  \ |   ||   /  \|   :  \ 
|   /  \ \_. ___/ |__:___/   |   ||. _____/|___|   ||   |___\|   |___\|   ||_.: __/|   |___\
|______/   :/        :       |___| :/          |___||___|    |___|    |___|   :/   |___|    
           :                       :                                          :             
</pre>
</header>
