<header>
<pre class="ascii logo">                                                 
</pre>
<pre class="ascii name">
      ..                .x+=:.        s                                                       .                            
x .d88"                z`    ^%      :8                                                      @88>                          
 5888R          u.        .   <k    .88                             .u    .      .u    .     %8P                 .u    .   
 '888R    ...ue888b     .@8Ned8"   :888ooo       .         u      .d88B :@8c   .d88B :@8c     .         .u     .d88B :@8c  
  888R    888R Y888r  .@^%8888"  -*8888888  .udR88N     us888u.  ="8888f8888r ="8888f8888r  .@88u    ud8888.  ="8888f8888r 
  888R    888R I888> x88:  `)8b.   8888    <888'888k .@88 "8888"   4888>'88"    4888>'88"  ''888E` :888'8888.   4888>'88"  
  888R    888R I888> 8888N=*8888   8888    9888 'Y"  9888  9888    4888> '      4888> '      888E  d888 '88%"   4888> '    
  888R    888R I888>  %8"    R88   8888    9888      9888  9888    4888>        4888>        888E  8888.+"      4888>      
  888R   u8888cJ888    @8Wou 9%   .8888Lu= 9888      9888  9888   .d888L .+    .d888L .+     888E  8888L       .d888L .+   
 .888B .  "*888*P"   .888888P`    ^%888*   ?8888u../ 9888  9888   ^"8888*"     ^"8888*"      888&  '8888c. .+  ^"8888*"    
 ^*888%     'Y"      `   ^"F        'Y"     "8888P'  "888*""888"     "Y"          "Y"        R888"  "88888%       "Y"      
   "%                                         "P'     ^Y"   ^Y'                               ""      "YP'                 
</pre>
</header>
